spring:
  application:
    name: products-api
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/products-api}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  data:
    web:
      pageable:
        one-indexed-parameters: true